body{
  background-color: #F5F5F5; 
  font-family: sans-serif;
}
span{
  color: #1C1C1C;

} 

li{
  margin-left: 40px;
  font-size: 20px;
}

img{
  text-align: center;
}
.sp{
  color: #d1ae39;
  padding: 0;
  display: inline-block;
  animation-name: myanimation;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}
.nav-item{
   display: flex;
   justify-content: space-between;
   list-style: none;
   justify-content: end;
   align-items: center;
   margin: 30px;
   border: 2px solid #f3dd93; /* add a border */
   box-shadow: 0 0 20px rgba(243, 221, 147, 0.5); /* add a box shadow */

}
h{
  display: flex;
  color: #1C1C1C;
  font-size: 50px;
  font-weight: 400;
  justify-content: center;
  font-family: sans-serif;
}

h1{
color: #e4c662;
margin-left: 35px;
margin-right: auto;
font-size: 50px;
}
img{
  height: 200px;
  width: 200px;
}
.img2{
  margin-left: 70%;
}
a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #d1ae39;
  text-transform: none;
  transition: 0.25s ease;
  margin: 50px;
  position: relative;
  
}
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1C1C1C;
  transition: width 0.3s ease-in-out;
}


 a:hover{
  color:#222222;
  font-size: 35px;
}

a:hover::after {
  width: 100%;
}
form {
  background-color: #222;
  margin: 30px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
label{
  font-size: 20px;
  color: #d1ae39;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.projects-column {
  flex: 1;
  padding: 10px;
}

.projects-column h2 {
  margin-top: 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}
input[type="submit"]:hover {
  background-color: #d1ae39;
  color: #1C1C1C;
  font-size: 20px;
}

#data-container {
  background-color: #222;
  color: #d1ae39;
  font-size: 30px;
  padding: 20px;
}

button[type="submit"], button[type="button"] {
  background-color: #d1ae39;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #000000;
  color: #d1ae39;
  font-size: 30px;
}

@keyframes myanimation{
  0% {
    transform: translateY(0);

  }
  25% {
    transform: translateY(-20px); /* Move up */
    color: #181302;
  }
  50% {
    transform: translateY(-40px); /* Move up */
    color: #f5ab00; 
  }
  75% {
    transform: translateY(30px); 
    color: rgb(48, 131, 131);
  }
  100% {
          color: rgb(126, 180, 24);
  }
}











