body{
  background-color: #F5F5F5; 
  font-family: sans-serif;
}
span{
  color: #1C1C1C;

} 

li{
  margin-left: 40px;
  font-size: 20px;
}

img{
  text-align: center;
}
.sp{
  color: #d1ae39;
  padding: 0;
}
.nav-item{
   display: flex;
   justify-content: space-between;
   list-style: none;
   justify-content: end;
   align-items: center;
   margin: 30px;
   border: 2px solid #f3dd93; /* add a border */
   box-shadow: 0 0 20px rgba(243, 221, 147, 0.5); /* add a box shadow */

}
h{
  display: flex;
  color: #1C1C1C;
  font-size: 50px;
  font-weight: 400;
  justify-content: center;
  font-family: sans-serif;
}
h1{
color: #ddbf5c;
margin-left: 35px;
margin-right: auto;
font-size: 50px;


}
a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #d1ae39;
  text-transform: none;
  transition: 0.25s ease;
  margin: 50px;
  position: relative;
  
}
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1C1C1C;
  transition: width 0.3s ease-in-out;
}


 a:hover{
  color:#222222;
  font-size: 35px;
}

a:hover::after {
  width: 100%;
}


.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.input-section {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.task-item {
  margin-bottom: 10px;
  position: relative;
  border: #1C1C1C solid 2px;
}

.task-item span {
  margin-right: 10px;
}

.task-item button {
  position: absolute;
  right: 0;
}
label{
   font-size: 35px;
}
#add-name-btn{
 height: 40px;
 background-color: #F5F5F5;
 color: #1C1C1C;
}
#task-input-section{
     margin: 60px;
}
span{
  padding: 20px;
}

.anim{

animation-duration: 5s;
animation-iteration-count: 2;
animation-name: myanimation;
position: relative;

}
@keyframes myanimation{
     0%{right: -120% ;,top: 0px;}
     25%{right: -100%;, top: 0px }
     25%{right: -80%;, top: 60px }
     50%{right: -50%;, top: 0px }
     75%{right: -30%;, top: 0px }
     100%{right: -100%;, top: 0px }
     100%{right: 0px;, top: 0px }



}









@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}


